<app-header></app-header>

<!--body elements-->
<div>
  <div id="hero">
    <img src="..\assets\events_hero.jpg">
  </div>
</div>

<!--Event cards-->
<div class="EventCards">
  <div class="card" style="width: 18rem;">
    <img src="..\assets\c1.jpg" class="card-img-top" alt="...">
    <div class="card-body text-white bg-primary" >
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-dark">Read more</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="..\assets\c2.jpg" class="card-img-top" alt="...">
    <div class="card-body text-white bg-info" >
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-dark">Read more</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="..\assets\c3.jpg" class="card-img-top" alt="...">
    <div class="card-body text-white bg-secondary" >
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-dark">Read more</a>
    </div>
  </div>


  <div class="card" style="width: 18rem;">
    <img src="..\assets\c1.jpg" class="card-img-top" alt="...">
    <div class="card-body text-white bg-primary" >
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-dark">Read more</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="..\assets\c2.jpg" class="card-img-top" alt="...">
    <div class="card-body text-white bg-info" >
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-dark">Read more</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="..\assets\c3.jpg" class="card-img-top" alt="...">
    <div class="card-body text-white bg-secondary" >
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-dark">Read more</a>
    </div>
  </div>

</div>


 <!--READ MORE BUTTON-->
 <div id="READ">
  <button id="readMore" type="button" class="btn btn-primary">Read More >></button>
 </div>


<app-footer></app-footer>
<router-outlet></router-outlet>
