#middle{
  // background-image: url(../../assets/about_back.jpg);
  // background-color: #B7E2F0;
	text-align: center;
	text-align: justify;
  padding-right: 2em;
  padding-left: 2em;
  margin: 10% 10%;
  width: 80%;
  display: flex;
  align-self: center;
  align-content: center;
  flex-direction: column;
}

#middle >.h2, h2{
	padding-left: 45%;
	color: black;
}
