<app-header></app-header>

<div id="middle" class="item">
  <h2>How To Apply</h2><br><br>
  <!-- <p>this is a long paragraph. this is a long paragraph.this is a long paragraph.this is a long paragraph.this is a long paragraph.this is a long paragraph.this is a long paragraph.
      this is a long paragraph.this is a long paragraph.this is a long paragraph.this is a long paragraph.
      this is a long paragraph.this is a long paragraph.this is a long paragraph.this is a long paragraph.
      this is a long paragraph.this is a long paragraph.this is a long paragraph.
      this is a long paragraph.this is a long paragraph.this is a long paragraph.this is a long paragraph.
      this is a long paragraph.this is a long paragraph.this is a long paragraph.
      this is a long paragraph.this is a long paragraph.this is a long paragraph.
      this is a long paragraph.this is a long paragraph.this is a long paragraph.
      this is a long paragraph.this is a long paragraph.
    </p> -->
    <!-- console.log({{document.data}}); -->
    <p>{{document.data}}</p>
</div>


<app-footer></app-footer>
<router-outlet></router-outlet>

