<app-header></app-header>

<!--body elements-->
<div>
  <div id="heroImage">
    <img src="../../assets/blogs_hero.jpg">
  </div>
</div>

<!--Mainblog-->
<div id="mainBlog">
  <div id="content" class="item">
      <h3>{{blog[0].Title}}</h3>
      <span>{{blog[0].Content}}
          <!-- here will be the text. here will be the text. here will be the text.
          here will be the text. here will be the text.
          here will be the text. here will be the text.
          here will be the text. here will be the text. here will be the text.
          here will be the text. here will be the text. here will be the text.
          here will be the text. here will be the text. here will be the text.
          here will be the text. here will be the text. here will be the text.
          here will be the text. here will be the text. here will be the text.
          here will be the text. here will be the text. here will be the text.
          here will be the text. here will be the text. here will be the text.
          here will be the text. here will be the text. here will be the text.
          here will be the text. here will be the text. here will be the text.
          here will be the text. here will be the text. here will be the text.
          here will be the text. here will be the text. here will be the text.
          here will be the text. here will be the text. here will be the text.
          here will be the text. here will be the text. here will be the text.
          here will be the text. here will be the text. here will be the text.
          here will be the text. here will be the text. here will be the text.
          here will be the text. here will be the text. here will be the text.
          here will be the text. here will be the text. here will be the text.
          here will be the text. here will be the text. here will be the text.
          <br><br>
          here will be the text. here will be the text. here will be the text.
          here will be the text. here will be the text. here will be the text.
          here will be the text. here will be the text. here will be the text.
          here will be the text. here will be the text. here will be the text.
          here will be the text. here will be the text. here will be the text.
          here will be the text. here will be the text. here will be the text.
          here will be the text. here will be the text. here will be the text.
          here will be the text. here will be the text. here will be the text.
          here will be the text. here will be the text. here will be the text.
          here will be the text. here will be the text. here will be the text.
          here will be the text. here will be the text. here will be the text.
          here will be the text. here will be the text. here will be the text.
          here will be the text. here will be the text. here will be the text. -->
      </span>
  </div>
  <div id="right" class="item">
      <div id="image" class="item2">
          <img src="..\assets\{{blog[0].Image}}">
      </div>
      <div id="writer" class="item2">
          <h5><b>{{blog[0].Name}}</b> </h5>
          <span>
              {{blog[0].Description}}
          </span>
      </div>
  </div>

</div>


<app-blog-list></app-blog-list>
<app-footer></app-footer>
<router-outlet></router-outlet>
