<!--Header-->
<header>
  <!--top border-->
  <div id="border">
    <div id="location">
      <img src="..\assets\map-marker-alt-solid.svg" width="30px" height="30px">
      <span>Aley, Hay l Watan</span>
    </div>
    <div id="phone">
      <img src="..\assets\phone-alt-solid.svg" width="30px" height="30px">
      <span>05/559359</span>
    </div>
  </div>
  <!--logo and nav-->
  <div class="nav-bar-container">
    <div class="logo">
      <img src="..\assets\logo.png" alt="Logo">
      ACSS
    </div>
    <div class="menu" onclick="toggle_menu()">
        <img src="..\assets\Hamburger.png" alt="Menu">
    </div>
    <div class="nav-bar" id="nav">

      <ul id="navbar">
        <li><a routerLink="/home"><b>Home</b></a></li>
        <li><a routerLink="/blog/0"><b>Blogs</b></a></li>
        <li><a href="/event"><b>Events</b></a></li>
        <li><a href="#"><b>About US</b></a>
          <ul class="sub">
            <li><a href="/about"><b>What we do</b></a></li>
            <li><a href="/apply"><b>How to apply</b></a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</header>
