
  <div id="left" class="item">
      <div id="news" >
        <ul>
          <li class="newsItem">
            <p class="Date">Tuesday 24\1\2021</p>
            <h5>Closing the School</h5>
            <p>We will not open our doors this Tuesday, see you later our
              beloved students, stay safe.</p><hr class="solid">
          </li>
          <li class="newsItem">
            <p class="Date">Friday 27/1/2021</p>
            <h5>Closing the School</h5>
            <p>The school will close it doors on Friday the 27th, study well </p>
            <hr class="solid">
          </li>
          <li class="newsItem">
            <p class="Date">Monday 12/2/2020</p>
            <h5>Blue Day</h5>
            <p>We are going to celebrate the "blue day" with our kindergarten angels,
              stay tuned.</p><hr class="solid">
          </li>
        </ul>
      </div>
  </div>
