<!--More Items-->
<div id="more">
  <div class="blogItem" *ngFor="let blog of blogList">
    <a href="/blog/{{blog.idBlog}}"><b>{{blog.Title}}</b></a>
  </div>
  <!-- <div class="blogItem">
    <a href="#">Blog no2 title</a>
  </div>
  <div class="blogItem">
    <a href="#">Blog no3 title</a>
  </div>
  <div class="blogItem">
    <a href="#">Blog no4 title</a>
  </div>
  <div class="blogItem">
    <a href="#">Blog no5 title</a>
  </div>
  <div class="blogItem">
    <a href="#">Blog no6 title</a>
  </div> -->
</div>
