<!--footer-->
<div class="footer">
  <h3>Contact Us</h3>
  <ul id="socialmedia">
    <li>
      <img src="..\assets\phone-alt-solid.svg">
      <span>05/559359</span>
    </li>
    <li>
      <img src="..\assets\mobile-solid.svg">
      <span>03/7494259</span>
    </li>
    <li>
      <img src="..\assets\fax-solid.svg">
      <span>05559259</span>
    </li>
    <li>
      <img src="..\assets\facebook-brands.svg">
    </li>
    <li>
      <img src="..\assets\envelope-regular.svg">
    </li>

  </ul>
 </div>
